a {
  text-decoration: none;
}

.music-item {
  --border-radius: 20px;
  --dimension: 200px;
  height: var(--dimension);
  width: var(--dimension);
  color: #FFF;
  margin: 5px;
  text-decoration: none;
  position: relative;
}

.music-item .text:hover {
  background-color: rgb(0, 0, 0, 0);
}

.music-item .text {
    transition: background-color 200ms ease-out;
    position: absolute;
    height: var(--dimension);
    width: var(--dimension);
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    line-height: var(--dimension);
    border-radius: var(--border-radius);
}

.music-item img {
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}